@import '../../main.scss';

.team{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 86vh;
    width: 100%;
    margin: 7vh 0px;

   

    .team_card{
        display: flex;
        flex-direction: row;

        padding:  50px ;
        height: 100%;
        width: 100%;    
    }
   

    .team_card_img_wrapper{
        height: 100%;
        width: 40%;

        border-radius: 15px;
        border: 3px solid white;
    }

    .team_card_img{
        display: flex;
        border-radius: 15px;
    //   object-fit: contain ;
    
      height: 100%;
      width: 100%;
    }

    .team_card_fill{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        border-radius: 15px;
        border: 3px solid white;

        height: 100%;
        width: 60%;

        margin-left: 50px;
    }

    .team_card_name{
        font-size: 9rem;
        font-weight: 700;
        color: $primary-text-color;
    }

    .team_card_text_wrapper{
        
    }

    .team_card_text{
        font-size: 5rem;
        font-weight: 400;
        color: $primary-text-color;
    }

}