@import '../../main.scss';

.me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 100%;

    padding: 50px 0;
    margin: 7vh 0px;

    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase; 

    
}

    
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 100%;

    padding: 50px;
    margin: 50px;
    border-radius: 20px;
        background: #121212;
        box-shadow:  8px -8px 16px #070707,
                    -8px 8px 16px #070707;  
}


.side_wrapper{
    width: 30%;
    max-width: 30%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.img_container{
    
    max-width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    
}

.img_wrapper{
    display: flex;
    height: fit-content;
    max-width: 100%;
    
}

.img{
    border-radius: 10px;
    background: #121212;
    box-shadow: inset 8px -8px 16px #070707,
                inset -8px 8px 16px #1d1d1d;

    height: auto;
    max-width: 100%;

    
}

.underimg{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    
}

.title{
    margin: 20px 0; // Добавлен отступ сверху
    font-size: clamp(1rem, 1rem + 2vw, 15rem);
    
}

.track{   
    margin-bottom: 20px; // Добавлен отступ снизу
    font-size: clamp(1rem, 0.5rem + 2vw, 10rem);
    
}

.content_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: fit-content;
    font-size: clamp(0.1rem, 0.1rem + 2vw, 5rem);

    padding-left: 20px;

}

.text{
    width: 100%;
    height: 100%;
    
    padding: 20px;
    
    border-radius: 10px;
    background: #121212;
    box-shadow: inset 8px -8px 16px #070707,
                inset -8px 8px 16px #070707;

    &:not(:last-child){
        margin-bottom: 20px;
    }
}

@media (max-width:800px) {

    .me{
        padding: 20px ;
        height: auto;
    }

    .wrapper{
        flex-direction: column;
        width: 100%;
        padding: 20px ;
        margin: 0;
    }

    .side_wrapper{
       max-width: 100%;
       width: 100%;
    }

    .content_wrapper{
        width: 100%;
        padding-left: 0;
    }

    .text{
        margin: 0;
    }
    
}

@media (max-width:500px) {

    .wrapper{
        padding: 20px ;
    }

    .side_wrapper{
        width: 100%;
    }
    
}