@import '../../main.scss';

.wrapepr{
  box-sizing: border-box;
  height: 100%;
  padding: 7vh 0;
  display: flex;
  justify-content: center;
  flex-direction: column;  
}

.projects{
    padding-bottom: 30px;
    
    .projects_wrapper{
        width: 100%;
        height: 100%;
        

        display: flex;
        // justify-content: space-between;

        padding: 7rem 10rem;

        

        @media (max-width:1100px) {
            padding: 1rem 1rem;
          }
    
          @media (max-width:1024px) {
            padding: 1rem 1rem;
            // padding-bottom: 0;
            }
    
          @media (max-width:767px) {
            width: 100%;
              
            }
          
          @media (max-width:500px) {
            width: 100%;
            }

        @media (max-width:1024px) {
          // align-items: center;
        }

    }

    .projects_content{
        align-items: center;  
    }

    .swiper_projects{
        height: 100%;
        padding: 0rem 10rem ;
        
        @media (max-width:1024px) {
            padding: 0rem 3rem ;
          }

          @media (max-width:767px) {
            padding: 0rem 0rem ;
              
            }
          
          @media (max-width:500px) {
            padding: 0rem 0rem ;
            }
    }

    

    .projects_title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 12rem;
        text-transform: uppercase;
        font-weight: 900;
        font-style: normal;
        color: $primary-text-color;
    }

    .projects_content{
      padding-left: 50px;

      display: grid;
      
    }

    .projects_filter{

        display: flex;

        @media (max-width:1024px) {
            // justify-content: center;
            margin: 1rem 0rem  ;
          }

        &:not(:last-child) {
			margin-left: 0;
		  } 
		
    }

    .projects_filter_button{
      display: flex;
      align-items: center;
      justify-content: center;
        color: $main-background-color;
        border-style: solid;
        border-color: $primary-text-color ;
        border-radius: 3rem;
        background-color: $primary-text-color;
        
        margin: 1rem 0rem;

        width: 30rem;

        font-family: 'Bebas Neue', sans-serif;
        font-size: 20px;
        font-weight: 500;
        padding: 1rem 2.5rem;
        // color: $primary-text-color;

        @media (max-width:1024px) {
            font-size: 1rem;
            padding: 0.5rem 0.5rem;
            margin: 0.5rem 0rem;
          }
    
          @media (max-width:767px) {
            font-size: 1rem;
          }   

          @media (max-width:767px) {
            font-size: 0.7rem;
          }   

          @media (max-width:550px) {
            
            font-size: 0.7rem;
          }

          @media (max-width:500px) {
            
            
          }

        &:not(:last-child) {
			  margin-right: 2.5rem;

        @media (max-width:1024px) {
          margin-right: 2rem;
            }
      
            @media (max-width:767px) {
              margin-right: 1rem;
            }   

            @media (max-width:767px) {
              font-size: 0.7rem;
            }   

            @media (max-width:550px) {
              
              font-size: 0.7rem;
            }

            @media (max-width:500px) {
              
              
            }
		  } 

          &:hover {
            background-color: $main-background-color;
            color: $primary-text-color ;
            border-color: $primary-text-color ;
            border: solid;
            transition: 0.3s;
        }
    }

    .projects_filter_btn{
        
    }

    .projects_img_border{

      display: flex;

      object-fit: contain ;
    
      height: 150rem;
      width: 500rem;
      

      @media (max-width:1024px) {
            height: 38rem;
          } 

          @media (max-width:767px) {
            height: 23rem;
          }   

          @media (max-width:550px) {
            height: 18rem;
          }

          @media (max-width:500px) {
            
            
          }

      
      img{

        height: 150rem;
        width: 500rem;
      
        border-radius: 3rem;
        border: solid #E9E9E9;
        
      }
    
    }

    

    

    .projects_describ{  
        display: flex; 
        
        flex-wrap: wrap;
    }

    .projects_describ_text{
        // display: flex;
        
    }





  
    .projects_describ_title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 100px;
        font-weight: 700;
        color: $primary-text-color;

        @media (max-width:1024px) {
            font-size: 2rem;
          }
    
          @media (max-width:767px) {
            font-size: 1rem;
          }   

          @media (max-width:767px) {
            font-size: 1rem;
          }   

          @media (max-width:550px) {
            
            font-size: 0.7rem;
          }

          @media (max-width:500px) {
            
            
          }
        
    }

    .projects_describ_info{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 5rem;
        font-weight: 500;

        @media (max-width:1024px) {
            font-size: 2rem;
          }
    
          @media (max-width:767px) {
            font-size: 1rem;
          }   

          @media (max-width:767px) {
            font-size: 1rem;
          }   

          @media (max-width:550px) {
            
            font-size: 0.7rem;
          }

          @media (max-width:500px) {
            
            
          }
        
    }
    

    .projects_content_descib{
      padding-top: 20px;

      font-family: 'Bebas Neue', sans-serif;
      font-size: 25px;
      font-weight: 500;

    }



    .projects_content_paragraph{
      

      &:not(:first-child){
        padding-top: 20px;
      }
    }

    .projects_button_wrapper{
      display: flex;
      align-items: center;
      justify-content: center;

      
    }

    .projects_button{
      display: flex;
      align-items: center;
      justify-content: center;
        color: $main-background-color;
        border-style: solid;
        border-color: $primary-text-color ;
        border-radius: 3rem;
        background-color: $primary-text-color;


        margin-top: 100px;

        width: 100rem;

        font-family: 'Bebas Neue', sans-serif;
        font-size: 40px;
        font-weight: 500;
        padding: 1rem 2.5rem;

        &:hover {
          background-color: $main-background-color;
          color: $primary-text-color ;
          border-color: $primary-text-color ;
          border: solid;
          transition: 0.3s;
      }
    }
    
    
}
