@import '../../main.scss';

.wrapepr{
  box-sizing: border-box;
  height: 100%;
  padding: 7vh 0;
  display: flex;
  justify-content: center;
  flex-direction: column;  

  
}

.projects{
    height: 86vh;
    display: flex;
    justify-content: center;
    padding: 7rem 0rem;
  }

    .projects_wrapper{
        width: 100%;
        height: 100%;

        display: flex;
    
        justify-content: center;
    }

    .swiper_projects{
        height: 100%;
        padding: 0rem 10rem ;
    
    }

    .section{
      height: 100%;
    }

    .projects_title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: 12rem;
        text-transform: uppercase;
        font-weight: 900;
        font-style: normal;
        color: $primary-text-color;
    }

    .projects_content{
      width: 30%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .projects_filter{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        // justify-content: center;

        &:not(:last-child) {
			margin-left: 0;
		  } 
		
    }

    .projects_filter_button{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
        
        
        border-radius: 15px;
        background: #121212;
        box-shadow: inset 8px -8px 16px #070707,
                inset -8px 8px 16px #1d1d1d;
        
        border: 3px solid #121212;
        margin: 1rem 0rem;

        width: auto;

        font-family: 'Bebas Neue', sans-serif;
        font-size: clamp(0.1rem, 0.1rem + 2vw, 5rem);
        font-weight: 500;
        padding: 10px 10px;
        // color: $primary-text-color;
        transition: all 0.3s ease-in-out;

        &:not(:last-child) {
			  margin-right: 2.5rem;
		    } 

          &:hover {
            background-color: $main-background-color;
            color: $primary-text-color ;
            border-color: $primary-text-color ;
            border: solid;
            transition: 0.3s;
        }
    }

    .projects_filter_btn{
        
    }

    .projects_img_border{
      width: 50%;
      display: flex;
      object-fit: contain;
      border-radius: 20px;

      border-radius: 20px;
        background: #121212;
        box-shadow:  8px -8px 16px #070707,
                    -8px 8px 16px #070707;

        padding: 20px;

      .projects_img_wrapper{
      
      }
      
      img{
        border-radius: 20px;
        height: 100%;
      }
    
    }

    .projects_describ{  
        display: flex; 
        // flex-wrap: wrap;
        width: 100%;
    }

    .projects_describ_text{
        
 
    }

    .projects_describ_title{
        font-family: 'Bebas Neue', sans-serif;
        font-size: clamp(1rem, 1rem + 10vw, 15rem);
        font-weight: 700;
        color: $primary-text-color;
    }

    .projects_describ_info{
        font-family: 'Bebas Neue', sans-serif;
        font-size: clamp(1rem, 1rem + 10vw, 4rem);
        font-weight: 500;     
    }
    
    .projects_content_descib{
      padding-top: 20px;
      font-family: 'Bebas Neue', sans-serif;
      font-size: clamp(0.1rem, 0.1rem + 2vw, 5rem);
      font-weight: 500;
    }

    .projects_content_paragraph{
      
      &:not(:first-child){
        padding-top: 20px;
      }
    }

    .projects_button_wrapper{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .projects_button{
      display: flex;
      align-items: center;
      justify-content: center;
        
      border-radius: 15px;
        background: #121212;
        box-shadow: inset 8px -8px 16px #070707,
                inset -8px 8px 16px #1d1d1d;
       border: 3px solid #121212;

       transition: all 0.3s ease-in-out;

        margin-top: 10rem;

        width: clamp(0.1rem, 0.2rem + 30vw, 80rem);

        font-family: 'Bebas Neue', sans-serif;
        font-size: clamp(0.1rem, 0.1rem + 2vw, 10rem);
        font-weight: 500;
        padding: 4rem 2.5rem;

        &:hover {
          background-color: $main-background-color;
          color: $primary-text-color ;
          border-color: $primary-text-color ;
          border: solid;
          
      }
    }
    
    @media (max-width:1024px) {
      .projects_wrapper{
        padding: 2rem 2rem;
      }

      .projects_describ_title{
        font-size: clamp(0.1rem, 0.1rem + 7vw, 10rem);
      }

      .projects_describ_info{
        font-size: clamp(0.1rem, 0.1rem + 3vw, 5rem);
      }

      .projects_filter_button{
        margin: 0.3rem 0;
        &:not(:last-child) {
          margin-right: 1rem;
          } 
      }
     
      .projects_button{
        margin-top: 3rem;
        padding: 2rem ;
      }
    }

    @media (max-width:800px) {
      .projects{
        height: 100%;
        padding: 0;
      }

      .projects_wrapper{
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
        padding-bottom: 40px;
      }
      .projects_img_border{
        width: 100%;
      }
      .projects_content{
        width: 100%;
        padding-top: 20px;
        padding-left: 0;
      }
      .projects_button_wrapper{
        // justify-content: left;
      }
      .projects_button{
        margin-top: 1rem;
        padding: 1rem ;
      }
    }
    
    @media (max-width:500px) {
      .projects_wrapper{
        padding: 1rem 1rem;
      }
      
      .projects_button{
        width: 100%;
      }

      .projects_filter_button{
        margin: 0.1rem 0;
        &:not(:last-child) {
          margin-right: 0.3rem;
          } 
      }
    }
    





  
