@import '../../main.scss';

.main{
      
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;

  
      
    
    .main_services{
      display: flex;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      
    }

    .main_logo_img{
      
    }

    .main_text_container{
      // position: absolute;
      // z-index: 1;

      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 100%;
      
    }

    .main_text{
      
      // position: absolute;
      // z-index: 1;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      flex-direction: column;

      width: 100%;
      height: fit-content;

      font-size: clamp(1rem, 1rem + 8vw, 20rem);
      font-family: 'Bebas Neue', sans-serif;

     margin: 0 20px ;
    }

    .main_desc{
      font-size: clamp(1rem, 0.5rem + 1vw, 5rem);
    }
}

// .container_11 {
//   position: absolute;
//   margin: auto;
//   width: 100vw;
//   height: 80pt;
//   top: 0;
//   bottom: 0;
//   filter: url(#threshold) blur(0.6px);
// }

// .text1,
// .text2 {
//   position: absolute;
//   width: 100%;
//   display: inline-block;
//   font-family: 'Raleway', sans-serif;
//   font-size: 80pt;
//   text-align: center;
//   user-select: none;
// }