@import '../main.scss';


.footer{
    flex-shrink: 0;

    // border: 3px solid white;
    // border-radius: 15px;

    border-radius: 20px;
    background: #121212;


    backdrop-filter: blur(10px);

    position:fixed;
	  bottom: 0;
    z-index: 1;

    height: 7vh;
    width: 100%;

      // @media (max-width:500px) {
      //   display: flex;
      //   align-items: center;
      //   height: 100%;
      // }
  


    .footer_list{
        display: flex;
        font-family: 'Bebas Neue', sans-serif;;
        font-size: clamp(0.1rem, 0.1rem + 3vw, 8rem);
        color: $primary-text-color;

        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @media (max-width:1100px) {
          
        }

        @media (max-width:1024px) {
            
          }

        @media (max-width:767px) {
            
          }
        
        @media (max-width:500px) {
            // flex-direction: column;
            
          }

    }

    .footer_link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      // background-color: aliceblue;
      transition: all 0.3s ease-in-out;
      
    
      &:hover {
        // background: radial-gradient(50% 50% at 50% 90%, #0099ff 15%,  #0800e800 100%);
        border-radius: 20px;
        // background: #121212;
        // box-shadow:  8px -8px 16px #070707,
        //             -8px 8px 16px #1d1d1d;

        box-shadow: inset 4px -4px 8px #525252,  
        inset -4px 4px 8px #525252;
      }

      

   
    // &:last-child {
    //   border-radius: 0 15px 15px 0;
    // }

    // &:first-child{
    //   border-radius:  15px 0 0 15px ;
    // }

      // &:nth-child(1):hover {
      //   background-color: #E4572E;
      //   }
        
      // &:nth-child(2):hover {
      //   background-color: #9A1BFF;
      //   }
        
      // &:nth-child(3):hover {
      //   background-color: #02DD25;
      //   }
        
      // &:nth-child(4):hover {
      //   background-color: #9F956C;
      //   }

      // &:nth-child(5):hover {
      //   background-color: #1e64c0;
      //   }
    }


    .footer_link_text{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
}
