.tictac{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

    font-family: 'Bebas Neue', sans-serif;
}

.board{
    height: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 20px;
    background: #121212;
    box-shadow: inset 8px -8px 16px #070707,
                inset -8px 8px 16px #1d1d1d;
    height: 150px;
    margin: 5px;
    width: 150px;
    text-align: center;
    font-size: 100px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

}

.btn:hover {
    cursor: pointer;
    background-color: rgba(240, 240, 240, 0.692);
    transform:scale(1.05);
}

.btn:disabled {
    color: black;
    cursor: no-drop;
}

.result {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
}

.reset {
    text-align: center;
}

.steps{
    display: flex;
    justify-content: center;
}

.list{
    margin: 0px;
    padding-left: 50px;
    font-size: 25px;

    
}

.li{
    padding-left: 15px;
    width: 100%;
}

.reset {
    border-radius: 10px;
    background: #121212;
    box-shadow: inset 4px -4px 8px #070707,
                inset -4px 4px 8px #1d1d1d;
        cursor: pointer;
    
        border: 3px solid #121212;
    
    padding: 5px 20px;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    margin: 0 0 10px 0;

    width: 100%;

    &:hover {
        border: 3px solid #fff;

        transform:scale(1.05);
    }
}

