@import '../../main.scss';

.main{
     
      width: 100%;
      
      display: flex;
      align-items: center;

      position: absolute;
      z-index: -1;
    
    .main_services{
      display: flex;
      justify-content: center;
      height: 100vh;
      width: 100vw;
      
    }

    .main_logo_img{
      
    }

}